body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp9764093.jpg&f=1&nofb=1&ipt=7640e9a751344feea99a252b7ac0d9480935523dc2c0648241b638b40a84a411&ipo=images");
}

.container {
    width: 700px;
    height: 700px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    position: relative;
    z-index: 10;
}

.container-icon {
    width: 200px;
    height: 200px;
    background-color: white;
    position: relative;
    z-index: 100;
    top: -70px;
    left: 250px;
    border-radius: 90%;
    border: 5px solid white;
    box-shadow: 2px 2px 5px 3px #000;
    background-color: blueviolet;
    box-sizing: content-box;

}
i {
    font-size: 110px;
    margin-top: 20px;
    margin-left: 35px;
    color: #ffc0f5;   
}

.container-title {
    width: 100%;
    text-align: center;
    margin-top: -50px;
}

.container-title h1 {
    font-size: 40px;
    color: hwb(192 8% 16%);
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.container-log {
    width: 550px;
    height: 100px;
    margin-left: 85px;
    
}
.container-log h4 {
    color: #cfcece;
}

.container-log input {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #cfcece;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 10px;
    
}

.container-pass {
    width: 550px;
    height: 100px;
    margin-left: 85px;
}
.container-pass h4 {
    color: #cfcece;
}

.container-pass input {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #cfcece;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 10px;
}

.checkbox-container {
    width: 550px;
    height: 20px;
    margin-left: 85px;
    color: hsl(0, 0%, 67%);
    
}

.boton {
    width: 550px;
    height: 90px;
    margin-left: 85px;
    margin-top: 10px;
    border-radius: 30px;
    display: flex;
    text-align: center;
    
}

.btn {
    background-color: hwb(192 8% 16%);
    width: 100%;
    padding-top: 30px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    
}


.boton .btn:hover {
    background-color: hwb(192 3% 41%);

}
.foot {
    width: 550px;
    height: 100px;
    margin-left: 85px;
    margin-top: 10px;
    
}


.footer2 {
    float: right;
}