
body {
    background-color: black;
   }

.marco {
    height: 800px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    box-sizing: content-box
    
   }

.marco-top {
    width: 500px;
    height: 70px;
    background-color: white;
    display: flex;
    
   }
.marco-top-img {
    height: 50px;
    width: 100px;
    padding-left: 20px;
    padding-top: 5px;
}

.marco-top-icon  {
    width: 50px;
    height: 60px;
    position: relative;
    left: 335px;
    margin-top: 1px;
}
.marco-top-icon img {
    object-fit: contain;
}

.marco-mid {
    width: 500px;
    height: 450px;
    box-sizing: content-box;
    
    
}
img {
    height: 100%;
    width: 500px;
    object-fit: cover;
    }

.marco-bot {
    padding-top: 5px;
    width: 500px;
    height: 220px;
    background-color: white;
}

p {
    font-size: 15px;
    padding: 3px;
}

i {
    font-size: 30px;
    margin-left: 5px;
    margin-top: 15px;
    
}
.fa-bookmark {
    padding-left: 340px;
}

.likes {
    padding-top: 25px;
    padding-left: 10px;
    
}

.description {
    padding-top:  20px;
    padding-left: 10px;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  